
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}


header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo h1 {
    font-size: 2.5rem;
}

header nav ul {
    display: flex;
    list-style: none;
    text-align: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #28a745;
}



.shop-header {
    text-align: center;
    padding: 40px 20px;
    background-color: #f8f9fa;
}

.shop-header h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.shop-filters {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.search-input, .filter {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.product-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px 20px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.4rem;
    color: #28a745;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer ul li a:hover {
    color: #28a745;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        padding-top: 10px;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .shop-header h2 {
        font-size: 2rem;
    }

    .shop-filters {
        flex-direction: column;
    }

    .cta-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
